.nav-list{
    flex-direction: column;
}

.navbar{
    flex-direction: column;
    transition: all 0.8s ease-out;
    height: 440px;
}

.rightnav{
    text-align: center;
}

#search{
    width: 100%;
}

.burger{
    display: block;
}

.h-nav-resp{
    height: 75px;
}

.b-class-resp{
    opacity: 0;
}

.box-main{
    flex-direction: column-reverse;
    max-width: 100%;
}

.section{
    flex-direction: column-reverse;
}

.text-small{
    text-align: center;
}

.text-big{
    text-align: center;
}

.buttons{
    text-align: center;
}

.para{
    padding: 0px;
}

.form{
    width: 64%;
}